*~
*pyc
*.DS_Store
*.egg
*.eggs
*.egg-info
*.log
*.pyc
*.sass-cache
*build/
*dat
.env
venv
.pytest_cache/
.ipynb_checkpoints
.ruby-version
.tox
.pytype
dist/
pip-wheel-metadata
docs/nlu/_build
docs/_build
*.db
scala/
mongodb/
.cache/
build
build/
*.egg-info/
jnk/
logs/
tmp/
profile.*
*.sqlite
lastmile_ai/learn/plots/
*npy
*#
*log.json
.coverage
.coveralls.yml
.idea/
*.iml
out/
_db/
.vscode/
.DS_Store
.mypy_cache/
**/*.tar.gz
**/*.tar
.pytest_cache
test_download.zip
node_modules/
npm-debug.log
.python-version
tokens.dat
.idea
kipp

components/gitlab/gitlab
